<main>

<div class="progress-bar">

  <a class="back-link">back</a>
    <!-- 3 -->
  <ul class="layout-wrap steps-3">

        <li class="cell first done">
          <a class="step-link" href="create-user-adult-login" >
            <span class="step">1/3 :</span>
            <span class="title">Login Details</span>
          </a>
        </li>

        <li class="cell active">
          <a class="step-link" href="" onclick="return false;">
            <span class="step">2/3 :</span>
            <span class="title">Contact Details</span>
          </a>
        </li>

        <li class="cell last ">
          <a class="step-link" href="" onclick="return false;">
            <span class="step">3/3 :</span>
            <span class="title">Complete Your Giving Page</span>
          </a>
        </li>

  </ul>

</div>

{{_service.dump}}

      <div class="content">
          <section class="intro">
              <div class="layout-wrap">
                  <div class="inner">

<h1>Contact details</h1>

<p>This is so we can celebrate your fundraising efforts, keep you in the loop on what we're up to and help you get the most from your Giving Page.</p>

                  </div>
              </div>
          </section> <!-- /intro -->
      </div>

      <div id="basket-container">
      </div>

      <div class="content ">
        <form (ngSubmit)="onSubmit()" #contactDetails="ngForm">

            <section class="main-content ">
              <div class="layout-wrap">

                <div class="primary">

                  <fieldset class="fieldset--border-top">

    <div id="postcode-lookup" data-addresstype="0">

    <div id="postcode-lookup-box" class="form-col1">
        <div class="form-col-inner clearfix">

        <div id="post-code-field">
            <label for="postcode"><span class="nowrap">Postcode <span class="form-required" title="This field is required.">*</span></span></label>

            <div class="pc-search clearfix">

                <div class="form-item-wrapper ">
                    <input class="form-input" type="text" id="postcode" name="postcode" placeholder="AB12 3CD" value="" data-submit-with="submit-search" [(ngModel)]="_service.model.userAddressPostcode" />
                    <span class="icons icons-zoom"> </span>
                    <input type="button" id="search" name="search" value="Find my address" data-btn="submit-search" />

                </div>

            </div>

        </div>

        </div>
    </div>

    <div class="form-col2">
        <div class="form-col-inner empty">

        </div>
    </div>

    <div id="results" class="pc-results"></div>

    <div class="clear"></div>

    <div id="pc-address-fields" style="display:none;">

        <div class="form-col1">
            <div class="form-col-inner">

                <div class="form-item-wrapper ">
                    <label for="address1"><span class="nowrap>">Address 1 <span class="form-required" title="This field is required.">*</span></span></label>
                    <input class="form-input" type="text" id="address1" name="address1" value="" />
                </div>

            </div>
        </div>

        <div class="form-col2">
            <div class="form-col-inner">

                <div class="form-item-wrapper ">
                    <label for="address2">Address 2</label>
                    <input class="form-input" type="text" id="address2" name="address2" value="" />
                </div>

            </div>
        </div>

        <div class="form-col1">
            <div class="form-col-inner">

                <div class="form-item-wrapper ">
                    <label for="town">Town/City</label>
                    <input class="form-input" type="text" id="town" name="town" value="" />
                </div>

            </div>
        </div>

        <div class="form-col1">
            <div class="form-col-inner">

            </div>
        </div>

    </div> <!-- /address-fields -->

</div> <!-- /postcode-lookup -->

</fieldset>

<fieldset class="fieldset--border-top">

    <div id="contact-field" data-addresstype="1">
        <h2>What's your contact number?</h2>

        <div class="form-item-wrapper ">
            <label for="contactnumber">Contact number<span class="form-required toggle-mandatory" title="This field is required.">*</span></label>
            <input class="form-input" type="tel" id="contactnumber" name="phone" value="" [(ngModel)]="_service.model.userTelephone" />
        </div>
    </div>
</fieldset>

<fieldset class="fieldset--border-top">

    <h2>Keep me posted</h2>
    <p>People like you are gold dust to us, so we’d love you to be in on what we’re up to. Your details will be kept safe and never shared with other organisations; <a href="http://sr16-spl-qa.sportrelief.com/privacy-policy" target="_blank">see our privacy policy.</a></p>

<div id="contact_prefs" class="contact-prefs">
    <div class="kit-options">
        <div class="kit-option kit-post clearfix">

            <div class="kit-option-inner">

                <div class="form-item-wrapper">

                  <input type="hidden" name="post_preference" value="-1" />
                  <input id="post_preference_1" class="form-checkbox" type="checkbox" name="post_preference" value="1" checked="checked" [(ngModel)]="_service.model.contactOptinPost" />
                  <label for="post_preference_1">I'm happy to receive items by post, a couple of times a year (such as a free Fundraising kit). Untick if you'd rather not.</label>

                </div>

            </div>
        </div>
        <div class="kit-option kit-email clearfix">

            <div class="kit-option-inner">

                <div class="form-item-wrapper">

                  <input type="hidden" name="email_preference" value="-1" />
                  <input id="email_preference_1" class="form-checkbox" type="checkbox" name="email_preference" value="1" checked="checked" [(ngModel)]="_service.model.contactOptinEmail" />

                  <label for="email_preference_1">I'm happy to get exclusive news and handy fundraising bits and bobs by email. Untick if you'd rather not.</label>
                </div>

            </div>
        </div>

    </div>
</div>

</fieldset>

<fieldset class="fieldset--border-top affiliates">

  <h2>Are you fundraising on behalf of: <span class="hint" [hidden]="true">This will help us to know who is fundraising for us.</span></h2>

</fieldset>

  <div id="aff-select" class="affiliates-container">

    <fieldset>

      <div class="form-col1">

        <input type="radio" id="none-of-the-above" name="affiliation" value="1" checked="checked" (click)="_service.model.affiliationType=1" [checked]="_service.model.affiliationType === 1" />

        <label for="none-of-the-above">

          <span></span>
          <p>None of the below</p>

        </label>

      </div>

    </fieldset>

    <fieldset>

      <div class="form-col1">

        <input type="radio" id="affiliation-partner" name="affiliation" data-conditionalfor="fm-company" value="2" (click)="_service.model.affiliationType=2" [checked]="_service.model.affiliationType === 2" />

        <label for="affiliation-partner">

          <span></span>
          <p>An Official Sport Relief Corporate Partner</p>

        </label>

      </div>

        <div class="form-col2 toggle-target corporate-partners">

          <div class="form-item-wrapper">

            <label for="fm-company">Please select from the list below * <span class="hint" [hidden]="true">Make your money go further! If you work for one of our fabulous partners listed here, let us know and your fundraising will be added to their total. Even better, if your company runs a matched giving scheme, they may be able to match the total you have raised. Please select their name from the list to allow us to share your name, email address, and amount raised with your company to help them make a further donation to us (don't worry, they are only allowed to use your details for this purpose, and not to communicate with you about your fundraising).</span></label>
              <select class="form-select" id="fm-company" name="company" data-conditionalon="affiliation-partner" [(ngModel)]="_service.model.affiliationId">
                <option  value="">Select CR Partner</option>
                              <option  value="364">Sainsbury's</option>
                              <option  value="365">British Airways</option>
                              <option  value="366">Better</option>
                              <option  value="367">BT</option>
                              <option  value="386">Cisco</option>
                              <option  value="368">England Netball</option>
                              <option  value="369">Ernst &amp; Young</option>
                              <option  value="370">Fitbit</option>
                              <option  value="371">Lawn Tennis Association</option>
                              <option  value="389">Leaderboard</option>
                              <option  value="390">Lionsgate</option>
                              <option  value="388">Oracle</option>
                              <option  value="372">Premier League</option>
                              <option  value="373">Premiership Rugby</option>
                              <option  value="375">Robert Dyas</option>
                              <option  value="376">Ryman</option>
                              <option  value="387">Softcat</option>
                              <option  value="391">TJX Europe</option>
                              <option  value="377">This Girl Can</option>
                              <option  value="378">The FA</option>
                              <option  value="379">Transport for London</option>
                              <option  value="380">The Math School</option>
                              <option  value="385">Worldpay</option>
                              <option  value="381">RBS CIB/CR</option>
                              <option  value="382">RBS CPB</option>
                              <option  value="384">RBS Functions</option>
                              <option  value="374">RBS PBB</option>
                              <option  value="383">RBS Services</option>
                            </select>
                      </div>

          <div class="form-item-wrapper" style="display:none">

            <label for="fm-company-metadata">This is the label:</label>
            <input type="text" id="fm-company-metadata" class="form-input" name="company_metadata" data-conditionalon="affiliation-partner" value="" />

          </div>

        </div>

    </fieldset>

    <fieldset>

      <div class="form-col1">

          <div class="form-item-wrapper">
            <input type="radio" id="affiliation-organisation" name="affiliation" data-conditionalfor="fm-company-other" value="3" (click)="_service.model.affiliationType=3" [checked]="_service.model.affiliationType === 3" />
            <label for="affiliation-organisation">

              <span></span>
              <p>A workplace or organisation</p>

              </label>
          </div>
      </div>

      <div class="form-col2 toggle-target work-place">

        <div class="form-item-wrapper">
          <label for="fm-company-other">Please tell us the name of the organisation *</label>
          <input type="text" id="fm-company-other" class="form-input" name="company_other" data-conditionalon="affiliation-organisation" value="" [(ngModel)]="_service.model.affiliationText" />
        </div>

      </div>

    </fieldset>

  </div>

        <div class="container">
                <div id="btn_bottom" class="form-nav">

                    <div class="forward">
                                                             <input class="button button--fixwidth button--event" id="btn_forward" name="submit[next]" type="submit" value="Continue" data-btn="submit-all" />

                    </div>

                    <div class="back">
                                                     <input class="button button--light-grey button--ghost button--fixwidth" id="btn_back" name="submit[back]" type="submit" value="Back" />

                    </div>

                </div>
        </div>

                </div> <!-- /primary -->

              </div>

            </section> <!-- /main-content -->

        </form>
    </div>

</main>