<main>

<progress-bar step="giving-page"></progress-bar>

{{_service.dump}}

      <div class="content">
          <section class="intro">
              <div class="layout-wrap">
                  <div class="inner">

              <h1>{{_service.model.userFirstName}}, let's complete your Giving Page</h1>

        <p>Just a few final details and your Sport Relief Giving Page will be up and running.</p>

                  </div>
              </div>
          </section> <!-- /intro -->
      </div>

      <div id="basket-container">
      </div>

      <div class="content ">
        <form (ngSubmit)="onSubmit()" #givingPage="ngForm">

            <section class="main-content ">
              <div class="layout-wrap">

                <div class="primary">

                  <fieldset class="fieldset--border-top">

  <div class="form-item-wrapper ">

    <h2><label for="fm-title">Name your Giving Page</label></h2>

    <div class="pro-frstip create-gp-name">
      <p>For example: Susie's Sponsored Silence *
        <span class="hint" [hidden]="true">This is the title that will appear on your Giving Page so that friends and family know they're on the right page. If you feel like a name change, this can be done later.</span>

      </p>

    </div>

    <input class="form-input" type="text" name="title" id="fm-title" value="" [(ngModel)]="_service.model.pageTitle" />

  </div>

  <div class="form-item-wrapper not-searchable clear">

        <input class="form-checkbox" type="checkbox" id="fm-is-not-searchable" name="is_not_searchable" value="yes" [(ngModel)]="!_service.model.pageIsSearchable" />

      <label for="fm-is-not-searchable" class="type--md">Hide my Giving Page from search results on http://sr16-spl-qa.sportrelief.com and the leaderboard</label>
      <p>Don't be shy, if the public can't find you they can't sponsor you!</p>

  </div>

</fieldset>

<fieldset class="fieldset--border-top">
  <div class="form-item-wrapper ">

    <h2>Your Giving Page Link</h2>

    <div class="pro-frstip">
      <p>WARNING! This can't be changed later on.
          <span class="hint" [hidden]="true">This is your personal Giving Page web address and directs people to your own Giving Page. Once you have chosen what you want it to be, you can send this web address to friends and family to sponsor you. The first part of it is set as http://my.sportrelief.com/sponsor/xxxx, you need to decide what comes at the end of it. If you were doing a sponsored silence you might choose /silence. Unfortunately this can't be changed later on, so make it memorable. We've prewritten one for you, incase you need our help!</span>

      </p>
    </div>

    <div class="change-link">
      <p class="type--xl">http://frost-dev.comicrelief.com/sponsor/<span class="link-wrapper">firstnamelastname</span></p>

      <div class="button-wrapper">
        <p class="button button--ghost button--fixwidth">I'd like to change my link</p>
      </div>

      <div class="input-wrapper hide">
        <p><input class="form-input" type="text" name="page_name" id="fm-page-name" value="firstnamelastname" [(ngModel)]="_service.model.pageLink" /></p>
        <div class="error-messages error-inline">This name has already been taken</div>
        <p><a href="#" class="button button--black button--fixwidth" id="validate-givingpage">Save</a></p>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="fieldset--border-top">

    <h2>Set a fundraising target</h2>
      <p>Select a fundraising target to appear on your Giving Page – remember the money will change lives so aim as high as you can.</p>

<div id="fnd-target" class="fnd-target individual">

<div id="mbs" class="mb-stories ft-adults clearfix">

  <div id="mb1" class="mb mb1">

    <a>&pound;100</a>
    <h2>&pound;100 could...</h2>
    <p>...povide a community nurse in Zambia with a bicycle, allowing them to provide potentially life-saving medicine and care to people living with HIV.</p>

  </div>

  <div id="mb2" class="mb mb2">

    <a>&pound;250</a>
    <h2>&pound;250 could...</h2>
    <p>...set up and run an afterschool club for 100 girls in Kenya, helping them to learn new skills and build a better future for themselves.</p>

  </div>

  <div id="mb3" class="mb mb3">

    <a>&pound;500</a>
    <h2>&pound;500 could...</h2>
    <p>...send two young carers on a residential weekend away, giving them the chance to socialise and take a break from their caring responsibilities at home.</p>

  </div>

</div>

  <div class="fnd-target-amount pod">

    <div class="form-item-wrapper ">

      <label for="fm-fundraising-target">Enter your fundraising target *</label>

      <span class="currency-wrap">
        <span>&pound;</span>
        <input class="form-input" type="text" name="fundraising_target" id="fm-fundraising-target" value="" [(ngModel)]="_service.model.pageFundraisingTarget" />
      </span>

    </div>

  </div>

</div>

</fieldset>

<fieldset class="fieldset--border-top terms-and-conditions">

  <h2>Terms and conditions</h2>

  <div class="form-item-wrapper ">

    <input class="form-checkbox" type="checkbox" id="fm-terms" name="terms" value="yes" [(ngModel)]="_service.model.pageTermsConditions" />

      <label for="fm-terms">By submitting your details, you confirm that you've read, understood and agree to the <a id="terms_link" class="text-link" target="_blank" href="http://sr16-spl-qa.sportrelief.com/legal#terms-of-use">terms of use</a>.</label>

  </div>

</fieldset>

        <div class="container">
                <div id="btn_bottom" class="form-nav">

                    <div class="forward">
                                <input class="button button--fixwidth button--event" id="btn_forward" name="submit[next]" type="submit" value="Complete my Giving Page" data-btn="submit-all" />

                    </div>

                    <div class="back">
                                                     <input class="button button--light-grey button--ghost button--fixwidth" id="btn_back" name="submit[back]" type="submit" value="Back" />

                    </div>

                </div>
        </div>

                </div> <!-- /primary -->

              </div>

            </section> <!-- /main-content -->

        </form>
    </div>

</main>