<main>

<progress-bar step="login-details"></progress-bar>

{{_service.dump}}

      <div class="content">
          <section class="intro">
              <div class="layout-wrap">
                  <div class="inner">

    <h1>Login details</h1>

                  </div>
              </div>
          </section> <!-- /intro -->
      </div>

      <div id="basket-container">
      </div>

      <div class="content ">
        <form (ngSubmit)="onSubmit()" #loginDetails="ngForm">

            <section class="main-content ">
              <div class="layout-wrap">

                <div class="primary">

<fieldset class="social-auth">

      <h3>Use 'Sign in with Facebook' for the quickest and easiest way to set up and log into your Sport Relief Giving Page.</h3>

<span class="button button--facebook button--blue-fb">
	<span class="icons icons-facebook-filled"> </span>
	<input class="" id="facebookconnect" name="submit[social-media-auth][facebook]" value="Sign in with facebook" type="submit" />
</span>

  <div>
    <p class="or button"><span class="icons icons-scroll-down icons-left icons-large"></span><span>Or enter below</span></p>
  </div>

</fieldset>

<fieldset class="name-details fieldset--border-top">

  <h2>So, what's your name?</h2>

	<p>(Fields marked with a <span class="form-required">*</span> are mandatory.)</p>

  <div class="grid-row">

     <div class="form-col1">
       <div class="form-col-inner">

            <div class="form-item-wrapper">
                <label for="title">Title (optional)</label>
                <select class="form-select" id="title" name="title" [(ngModel)]="_service.model.userTitle">
                        <option  value="">Select...</option>
                                            <option  value="1">Mr</option>
                                            <option  value="2">Mrs</option>
                                            <option  value="3">Miss</option>
                                            <option  value="4">Ms</option>
                                            <option  value="5">Dr</option>
                                            <option  value="6">Mx</option>
                                    </select>
            </div>

        </div>
    </div>

    <div class="form-col2">
        <div class="form-col-inner empty">

        </div>
    </div>

</div>
<div>
  <div>

    <div class="form-item-wrapper ">
        <label for="firstname">
            <span class="nowrap">
                    First name
                                <span class="form-required" title="This field is required.">*</span>
            </span>
        </label>
        <input class="form-input" type="text" id="firstname" name="firstname" placeholder="John" value="" [(ngModel)]="_service.model.userFirstName" />
    </div>

  </div>
</div>

<div>
    <div>
        <div class="form-item-wrapper ">
            <label for="lastname">
                <span class="nowrap">
                        Last name
                                        <span class="form-required" title="This field is required.">*</span>
                </span>
            </label>
            <input class="form-input" type="text" id="lastname" name="lastname" placeholder="Smith" value="" [(ngModel)]="_service.model.userLastName" />
        </div>
    </div>
</div>

</fieldset>

<fieldset class="fieldset--border-top">

  <h2>Create your Giving Page login and password</h2>

  <p class="hide mandatory">(Fields marked with a <span class="form-required">*</span> are mandatory.)</p>

  <div class="form-col1">
   <div class="form-col-inner">

       <div class="form-item-wrapper ">
           <label for="fm-emailaddress">Email <span class="nowrap">address <span class="form-required" title="This field is required.">*</span></span></label>
           <input class="form-input" type="email" id="fm-emailaddress" name="emailaddress" placeholder="email@example.org" value="" [(ngModel)]="_service.model.userEmailAddress" />
       </div>

   </div>
</div>

<div class="form-col1">
    <div class="form-col-inner">

        <div class="form-item-wrapper ">
            <label for="fm-confirm_emailaddress">Confirm email <span class="nowrap">address <span class="form-required" title="This field is required.">*</span></span></label>
            <input class="form-input" type="email" id="fm-confirm_emailaddress" name="confirm_emailaddress" placeholder="email@example.org" value="" [(ngModel)]="_service.model.userEmailAddressConfirm" />
        </div>

    </div>
</div>

   <div class="form-col1">
       <div class="form-col-inner">

           <div class="form-item-wrapper ">
               <label for="fm-password"><span class="nowrap">Password <span class="form-required" title="This field is required.">*</span></span></label>
               <p>Please use a combination of letters and numbers in your password so it's more secure</p>

              <input class="form-input" type="password" id="fm-password" name="password" [(ngModel)]="_service.model.userPassword" />
              <div>
                <input id="pass_switch" class="form-checkbox" type="checkbox" name="pass_switch" value="1">
                <label for="pass_switch">Show password</label>
              </div>
           </div>

           <div class="form-item-wrapper">
               <label for="fm-password-check">Password strength</label>
               <div class="form-password-checker" id="fm-password-check">
                   <div class="progress-completed"></div>
               </div>
           </div>

       </div>
   </div>

</fieldset>

        <div class="container">
                <div id="btn_bottom" class="form-nav">

                    <div class="forward">
                                                             <input class="button button--fixwidth button--event" id="btn_forward" name="submit[next]" type="submit" value="Continue" data-btn="submit-all" />

                    </div>

                    <div class="back">
                                                     <input class="button button--light-grey button--ghost button--fixwidth" id="btn_back" name="submit[back]" type="submit" value="Back" />

                    </div>

                </div>
        </div>

                </div> <!-- /primary -->

              </div>

            </section> <!-- /main-content -->

        </form>
    </div>

</main>