<main>

<div class="progress-bar">

  <a class="back-link">back</a>
    <!-- 3 -->
  <ul class="layout-wrap steps-3">

        <li class="cell first active">
          <a class="step-link" href="" onclick="return false;">
            <span class="step">1/3 :</span>
            <span class="title">Login Details</span>
          </a>
        </li>

        <li class="cell ">
          <a class="step-link" href="" onclick="return false;">
            <span class="step">2/3 :</span>
            <span class="title">Contact Details</span>
          </a>
        </li>

        <li class="cell last ">
          <a class="step-link" href="" onclick="return false;">
            <span class="step">3/3 :</span>
            <span class="title">Complete Your Giving Page</span>
          </a>
        </li>

  </ul>

  <script>
    $('.back-link').click(function() {
      parent.history.back();
      return false;
    });
  </script>

</div>

      <div class="content">
          <section class="intro">
              <div class="layout-wrap">
                  <div class="inner">

    <h1>Login details</h1>

                  </div>
              </div>
          </section> <!-- /intro -->
      </div>

      <div id="basket-container">
      </div>

      <div class="content ">
        <form (ngSubmit)="onSubmit()" #loginDetails="ngForm">

            <section class="main-content ">
              <div class="layout-wrap">

                <div class="primary">

<fieldset class="social-auth">

      <h3>Use 'Sign in with Facebook' for the quickest and easiest way to set up and log into your Sport Relief Giving Page.</h3>

<span class="button button--facebook button--blue-fb">
	<span class="icons icons-facebook-filled"> </span>
	<input class="" id="facebookconnect" name="submit[social-media-auth][facebook]" value="Sign in with facebook" type="submit" />
</span>

  <div>
    <p class="or button"><span class="icons icons-scroll-down icons-left icons-large"></span><span>Or enter below</span></p>
  </div>

</fieldset>

<script>

$(function(){

  $.fn.goToElement = function(options) {

    var elementSelector = options.elementSelector;
    var elementGoTo = options.elementGoTo;
    var onPageLoad = options.onPageLoad;

    onPageLoad === true ? scrollNow() : clickToScroll();

    function scrollNow() {
      $('html, body').animate({
        scrollTop: $(elementGoTo).offset().top + 'px'
      }, 'fast');

    }

    function clickToScroll() {
      $(elementSelector).on('click', function() {
        scrollNow();
      });
    }

  }

});

</script>

<script>

  $(function(){

      $.fn.goToElement({
        "elementSelector": ".or",
        "elementGoTo" : ".name-details"
      });

   });

</script>

<fieldset class="name-details fieldset--border-top">

  <h2>So, what's your name?</h2>

	<p>(Fields marked with a <span class="form-required">*</span> are mandatory.)</p>

  <div class="grid-row">

     <div class="form-col1">
       <div class="form-col-inner">

            <div class="form-item-wrapper">
                <label for="title">Title (optional)</label>
                <select class="form-select" id="title" name="title">
                        <option  value="">Select...</option>
                                            <option  value="1">Mr</option>
                                            <option  value="2">Mrs</option>
                                            <option  value="3">Miss</option>
                                            <option  value="4">Ms</option>
                                            <option  value="5">Dr</option>
                                            <option  value="6">Mx</option>
                                    </select>
            </div>

        </div>
    </div>

    <div class="form-col2">
        <div class="form-col-inner empty">

        </div>
    </div>

</div>
<div>
  <div>

    <div class="form-item-wrapper ">
        <label for="firstname">
            <span class="nowrap">
                    First name
                                <span class="form-required" title="This field is required.">*</span>
            </span>
        </label>
        <input class="form-input" type="text" id="firstname" name="firstname" placeholder="John" value="" />
    </div>

  </div>
</div>

<div>
    <div>
        <div class="form-item-wrapper ">
            <label for="lastname">
                <span class="nowrap">
                        Last name
                                        <span class="form-required" title="This field is required.">*</span>
                </span>
            </label>
            <input class="form-input" type="text" id="lastname" name="lastname" placeholder="Smith" value="" />
        </div>
    </div>
</div>

  <script>

$(function(){

  $.fn.goToElement = function(options) {

    var elementSelector = options.elementSelector;
    var elementGoTo = options.elementGoTo;
    var onPageLoad = options.onPageLoad;

    onPageLoad === true ? scrollNow() : clickToScroll();

    function scrollNow() {
      $('html, body').animate({
        scrollTop: $(elementGoTo).offset().top + 'px'
      }, 'fast');

    }

    function clickToScroll() {
      $(elementSelector).on('click', function() {
        scrollNow();
      });
    }

  }

});

</script>

  <script>

    $(function(){

      $.fn.goToElement({
        "elementSelector": ".or",
        "elementGoTo" : ".name-details"
      });

    });

  </script>

</fieldset>

<fieldset class="fieldset--border-top">

  <h2>Create your Giving Page login and password</h2>

  <p class="hide mandatory">(Fields marked with a <span class="form-required">*</span> are mandatory.)</p>

  <div class="form-col1">
   <div class="form-col-inner">

       <div class="form-item-wrapper ">
           <label for="fm-emailaddress">Email <span class="nowrap">address <span class="form-required" title="This field is required.">*</span></span></label>
           <input class="form-input" type="email" id="fm-emailaddress" name="emailaddress" placeholder="email@example.org" value="" />
       </div>

   </div>
</div>

<div class="form-col1">
    <div class="form-col-inner">

        <div class="form-item-wrapper ">
            <label for="fm-confirm_emailaddress">Confirm email <span class="nowrap">address <span class="form-required" title="This field is required.">*</span></span></label>
            <input class="form-input" type="email" id="fm-confirm_emailaddress" name="confirm_emailaddress" placeholder="email@example.org" value="" />
        </div>

    </div>
</div>

   <div class="form-col1">
       <div class="form-col-inner">

           <div class="form-item-wrapper ">
               <label for="fm-password"><span class="nowrap">Password <span class="form-required" title="This field is required.">*</span></span></label>
               <p>Please use a combination of letters and numbers in your password so it's more secure</p>

              <input class="form-input" type="password" id="fm-password" name="password" />
              <div>
                <input id="pass_switch" class="form-checkbox" type="checkbox" name="pass_switch" value="1">
                <label for="pass_switch">Show password</label>
              </div>
           </div>

           <div class="form-item-wrapper">
               <label for="fm-password-check">Password strength</label>
               <div class="form-password-checker" id="fm-password-check">
                   <div class="progress-completed"></div>
               </div>
           </div>

       </div>
   </div>

<script>

$(function(){

  $.fn.passwordSwitch = function(options) {
    // element selectors
    var inputSelector = options.input ? options.input : '#fm-password';
    var checkboxSelector = options.checkbox ? options.checkbox : '#pass_switch';

    // click event
    $(checkboxSelector).on('click', function() {
      // swtich type
      var inputSwitch = this.checked ? '<input class="form-input" type="text" id="fm-password" name="password" />' : '<input class="form-input" type="password" id="fm-password" name="password" />';
      // update value
      var passValue = $(inputSelector).val();
      $(inputSelector).replaceWith(inputSwitch);
      $(inputSelector).val(passValue);

      $.fn.passwordStrengthChecker({
        "input" : "#fm-password",
        "display": "#fm-password-check .progress-completed"
      });
    });
  }
});

</script>
<script type="text/javascript">

//TODO suggestion, since it is generic, it can be moved to global js etc.

//console.log('in password strength checker file');
$(function(){
    //console.log('defining password strength checker');
    $.fn.passwordStrengthChecker = function(options){
        //console.log('instance of password strength checker');
        var inputSelector = options.input;
        var displaySelector = options.display;

        if (!inputSelector) inputSelector = '#fm-password';
        if (!displaySelector) displaySelector = '#fm-password-check .progress-completed';

        var strength = $(displaySelector);

        var passwordChanged = function(evt){
            //console.log('keyup on password input');
            var password_value = $(this).val();
            var password_score = 0;

            password_score += new RegExp('[a-z]').test(password_value); // lowercase character
            password_score += new RegExp('[A-Z]').test(password_value); // uppercase character
            password_score += new RegExp('[0-9]').test(password_value); // digit character
            password_score += new RegExp('[^0-9a-zA-Z]').test(password_value); // symbol character
            password_score += new RegExp('.{6,}').test(password_value); // 6 characters or more

            // Check the password input against the regular expresses and change the meter
            var bgPosition = 0;
            if (4 <= password_score){
                bgPosition = '80';
            } else if (3 <= password_score){
                bgPosition = '60';
            } else if (2 <= password_score){
                bgPosition = '40';
            } else if (1 <= password_score) {
                bgPosition = '20';
            }
            strength.fadeIn('slow').css('width', bgPosition + '%');

            return true;
        };

        //attach event listener
        $(inputSelector).keyup(passwordChanged);
    }
});
</script>

<script>

  $(function(){

       $.fn.passwordStrengthChecker({
          "input" : "#fm-password",
          "display": "#fm-password-check .progress-completed"
       });

      $.fn.passwordSwitch({
        "input" : "#fm-password",
        "checkbox": "#pass_switch"
      });

   });

</script>

</fieldset>

        <div class="container">
                <div id="btn_bottom" class="form-nav">

                    <div class="forward">
                                                             <input class="button button--fixwidth button--event" id="btn_forward" name="submit[next]" type="submit" value="Continue" data-btn="submit-all" />

                    </div>

                    <div class="back">
                                                     <input class="button button--light-grey button--ghost button--fixwidth" id="btn_back" name="submit[back]" type="submit" value="Back" />

                    </div>

                </div>
        </div>

                </div> <!-- /primary -->

              </div>

            </section> <!-- /main-content -->

        </form>
    </div>

</main>