<body class="module-registration section-registration-workflow page-registration-workflow-journey      section-non-event-fundraiser non-event-fundraiser-registration ">

<div class="page public">

    <div class="wrapper">

        <div class="header">
  <div class="large-wrap">

      <section>
        <div>

          <a id="SR16" rel="home" href="http://sr16-spl-qa.sportrelief.com/" title="Home" class="header-logo" > </a>

            <div class="menu-toggle collapsed">
              <a href="#">Menu<span class="icon"></span></a>
            </div>

   <a class="log-out" href="https://frost-dev.comicrelief.com/user/login">Log in</a>

        </div>
      </section>

  </div>
</div> <!-- /header -->

<router-outlet></router-outlet>

    </div> <!-- /wrapper -->

</div> <!-- /page -->

<!-- Footer -->
<div class="footer">

    <div class="layout-wrap">
        <div class="footer--menu clearfix" id="footer_menu">
                <ul class="menu">
                    <li class="first"><a href="http://sr16-spl-qa.sportrelief.com/frequently-asked-questions">FAQS</a></li>
                    <li><a href="http://sr16-spl-qa.sportrelief.com/legal">Legal</a></li>
                    <li><a href="http://sr16-spl-qa.sportrelief.com/contact-us">Contact us</a></li>
                    <li><a href="http://sr16-spl-qa.sportrelief.com/accessibility">Accessibility</a></li>
                    <li><a href="http://sr16-spl-qa.sportrelief.com/privacy-policy">Privacy policy</a></li>
                    <li><a href="http://sr16-spl-qa.sportrelief.com/media-centre">Media centre</a></li>
                    <li><a href="http://sr16-spl-qa.sportrelief.com/call-centres">Call centres</a></li>
                    <li><a href="http://sr16-spl-qa.sportrelief.com/sitemap">Sitemap</a></li>
                    <li class="last"><a href="http://sr16-spl-qa.sportrelief.com/privacy-policy#cookies">Cookies</a></li>
                </ul>
        </div>

        <div class="footer--copyright clearfix" id="footer_copyright">
            <p>&copy; Comic Relief 2015. Comic Relief, registered charity 326568 (England/Wales); SC039730 (Scotland)</p>
        </div>

        <div class="footer--branding clearfix" id="footer_branding">
            <a title="Comic Relief" href="http://www.comicrelief.com/" rel="home" target="_blank">
                <span>Comic Relief</span>
            </a>
        </div>
    </div>
</div>
<!-- /footer -->

</body>